.DS_Store
._.DS_Store
*.pyc
.envrc
screenlog.*
hs_err_*.log
replay*.log
qsub_job_script*
data/
src/
t/
tmp/
bin/
sandbox/
*.figures/
.Rproj.user
packrat/lib*/
.future/
code/archive/
Rproj/
envs/
renv/
renv.lock
*-checkpoint.ipynb